VITE_API_URL=https://script.google.com/macros/s/AKfycb.../exec
VITE_CLOUDINARY_CLOUD_NAME=tu_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=tu_unsigned_upload_preset
VITE_ADMIN_PASSWORD=Admin123!
VITE_BUSINESS_NAME=MALLIET Automotores
VITE_DEFAULT_WHATSAPP=03447436621
VITE_DEFAULT_INSTAGRAM=https://instagram.com/mallietautomotores
