<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /malliet/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /malliet/index.html [L]
</IfModule>